/* ---STYLES WORK IN PROGRESS START--- */ 

.h-300 {
    height: 300px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/* ---STYLES WORK IN PROGRESS END--- */ 

.media {
    width: 100%;
    aspect-ratio: 16/9;
}